body {
	background-color: cornflowerblue;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: cornflowerblue;
}

.container {
	background-color: white;
	border-radius: 35px;
	margin: 30px auto;
	max-width: 1000px;
	padding: 50px;
}

.grid-layout {
	display: grid;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
	grid-template-columns: 250px 1fr;
	gap: 10px;
}

.header {
	grid-area: header;
	background: #ffb6b9;
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar {
	grid-area: sidebar;
	background: #b5ead7;
	padding: 20px;
}

.sidebar ul {
	list-style-type: none;
}

.main-content {
	grid-area: main;
	background: #c7ceea;
	padding: 20px;
}

.footer {
	grid-area: footer;
	background: #f3ffbd;
	padding: 20px;
	text-align: center;
}

.navigator {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.navigator a+a {
	margin-left: 20px;
}

.logo img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.link {
	display: inline-block;
}

.link-button {
	display: inline-block;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: #090909;
	padding: 0.7em 1.7em;
	cursor: pointer;
	font-size: 18px;
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
	box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

a {
	text-decoration: underline;
	color: cornflowerblue;
}

a:visited {
	text-decoration: none;
	color: cornflowerblue;
}

.my-photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

@media (max-width: 720px) {
	body {
		font-size: 0.8em;
	}

	.grid-layout {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.sidebar ul {
		display: flex;
		flex-direction: row;
	}

	.sidebar li + li {
		margin-left: 10px;
	}
}
